body {
    background-image: linear-gradient(180deg, #e1a56c 50%, #ee917c 50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    padding: 0;
    margin: 0;
}

.logo {
    align-items: center;
    display: block;
    margin: 30px auto 40px auto;
    width: 30%;
    height: auto;
}

.title {
    font-family: 'AlbraMedium', serif;
    text-align: center;
    color: white;
    font-size: 3vw;
    margin: 0 2em 1em 2em;
    line-height: 130%;
}

.bodyInfo {
    color: white;
    font-family: 'Daikon', sans-serif;
    /* font-weight: 900; */
    text-align: center;
    font-size: .8em;
    /* font size was .7em if it looks bad on mobile, change back to .7 */
    margin: 0 15% 6em 15%;
}

.container-fluid {
    background-color: white;
    border-radius: 60px;
    width: 100%;
    margin: auto;
    padding: 5em 4em 5em 4em;
}

.g-0 {
    margin-right: 2vw;
    margin-left: 2vw;
}

#img-top {
    margin-top: 50px;
}

#img-middle {
    /* margin-top: 25px; */
    margin-bottom: 25px;
}

#img-bottom {
    margin-bottom: 50px;
}

.card-title {
    font-family: 'AlbraMedium', serif;
    color: #e1a56c;
    font-size: 1em;
}

hr {
    /* padding-bottom: 40px; */
    position: relative; 
    top: 20px; 
    border: none; 
    height: 2px; 
    background: #d7d7d7; 
    margin-bottom: 16vh;
    opacity: .6;
    width: 95%;
}

.card {
    border: none;
}

.card-title-2 {
    font-family: 'AlbraMedium', serif;
    color: #6da847;
    font-size: 1em;
}

.card-title-2:after {
    content: "";
    display: block;
    width: 30%;
    border-bottom: 2px solid #b6d3a3; 
}

.card-text {
    font-family: 'Daikon', sans-serif;
    font-size: .7em;
}

/* .card-text-2 {
    padding-left: 0;
} */

.more-title {
    font-family: 'AlbraMedium', serif;
    color: white;
    font-size: 1em;
    text-align: center;
    margin-top: 6em;
}

.hr-2 {
    position: relative; 
    top: -5px; 
    border: none; 
    height: 2px; 
    background: #f4ae9e; 
    margin-bottom: 4px;
    width: 8%;
}

.card-text-more {
    font-family: 'Daikon', sans-serif;
    font-size: .7em;
    margin-right: 15vw;
    margin-left: 15vw;
    margin-bottom: 4em;
}

.row, .g-3 {
    padding-left: 15px;
    padding-right: 15px;
}

/* .last {
    margin-left: -5vw;
    margin-right: 144px;
   justify-content: first baseline;
} */

label {
    color: white;
    font-family: 'Daikon', sans-serif;
    font-size: 12px;
    padding-left: 15%;
    padding-top: 12px;
    margin-bottom: -10px;
}

.form-control {
    border-radius: 50px;
    background-color: #f7c8be;
    border: none;
    width: 75%;
    margin: auto;
    height: 30px;
}

.btn {
    color: white;
    background-color: #fbd29a;
    font-family: 'Daikon', sans-serif;
    font-weight: 900;
    margin: auto;
    align-content: center;
    display: block;
    border-radius: 50px;
    width: 35%;
    border: none;
    margin-top: 50px;
    margin-bottom: 100px;
}

footer {
    color: white;
    font-family: 'Daikon', sans-serif;
    text-align: center;
    text-decoration: none;
    padding-top: 4px;
    text-rendering: optimizeLegibility;
    font-size: 10px;
    margin: 0 15em 1em 15em;
    padding-bottom: 20px;
}

#brand {
    text-decoration: underline;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}